# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    services:      
      postgres:
        image: postgres:latest
        ports:
        - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: MyPreciousPassword123!
          POSTGRES_DB: postgres
          options: >-
            --health-cmd="pg_isready"
            --health-timeout=5s
            --health-retries=5

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    #- name: Test
      #run: dotnet test

    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: dotnet publish
      run: dotnet publish ./MiniShare.Web/MiniShare.Web.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp"

    #- name: Upload artifact for deployment job
     # uses: actions/upload-artifact@v4
      #with:
       # name: .net-app
        #path: ${{env.DOTNET_ROOT}}/myapp



    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GH_PACKAGES_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -t ghcr.io/mikkrogh/minishare:latest .

    - name: Push Docker image
      run: |
        docker push ghcr.io/mikkrogh/minishare:latest



